<div class="fixed top-0 left-0 right-0 bg-blue-950 w-full p-4 flex items-center justify-between z-10">
    <div class="flex items-center">
      <!-- Logo -->
      <div class="text-white text-2xl font-bold">Logo</div>
    </div>
  
    <!-- Navigation Links -->
    <div class="space-x-4">
      <a routerLink="/products" class="text-white hover:text-gray-300 transition duration-300">Products</a>
      <a routerLink="/login" class="text-white hover:text-gray-300 transition duration-300">Login</a>
      <a routerLink="/signup" class="text-white hover:text-gray-300 transition duration-300">Signup</a>
    </div>
  </div>
  