<div class="p-4 bg-white shadow-lg rounded-md  min-w-[45rem]">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-semibold">Product Details</h1>
    <button
      *ngIf="!clicked"
      class="px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600"
      (click)="showEdit()"
    >
      Edit
    </button>
  </div>

  <!-- border-2 border-solid border-red-700 -->
  <div class="mt-4">
    <div>
      <form (submit)="handleSubmit($event)">
        <div class="flex flex-row align-middle">
          Name: <span class="ml-1" *ngIf="!clicked">{{ product.title }}</span>
          <input
            *ngIf="clicked"
            type="text"
            class="border-2 mb-2 border-gray-500 rounded-md ml-1 w-full px-1 focus:outline-none focus:border-blue-500"
            name="title"
            [(ngModel)]="inputTitle"
          />
        </div>

        <div class="flex flex-row align-middle">
          Brand: <span class="ml-1" *ngIf="!clicked">{{ product.brand }}</span>
          <input
            *ngIf="clicked"
            type="text"
            class="border-2 mb-2 border-gray-500 rounded-md ml-1 w-full px-1 focus:outline-none focus:border-blue-500"
            name="brand"
            [(ngModel)]="inputBrand"
          />
        </div>

        <div class="flex flex-row align-middle">
          Description: <span class="ml-1" *ngIf="!clicked">{{ product.description }}</span>
          <input
            *ngIf="clicked"
            type="text"
            class="border-2 mb-2 border-gray-500 rounded-md ml-1 w-full px-1 focus:outline-none focus:border-blue-500"
            name="description"
            [(ngModel)]="inputDescription"
          />
        </div>

        <div class="flex flex-row align-middle">
          Price: <span class="ml-1" *ngIf="!clicked">{{ product.price }}</span>
          <input
            *ngIf="clicked"
            type="text"
            class="border-2 mb-2 border-gray-500 rounded-md ml-1 w-full px-1 focus:outline-none focus:border-blue-500"
            name="price"
            [(ngModel)]="inputPrice"
          />
        </div>

        <div class="flex flex-row align-middle">
          Rating: <span class="ml-1" *ngIf="!clicked">{{ product.rating }}</span>
          <input
            *ngIf="clicked"
            type="text"
            class="border-2 mb-2 border-gray-500 rounded-md ml-1 w-full px-1 focus:outline-none focus:border-blue-500"
            name="rating"
            [(ngModel)]="inputRating"
          />
        </div>

        <button
          *ngIf="clicked"
          type="submit"
          class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
        >
          Update
        </button>
      </form>
    </div>
  </div>
</div>
