<div
  class="border-gray-200 w-[22rem] border-2 border-solid m-3 flex flex-col justify-between min-h-[26rem] drop-shadow-sm"
>
  <div class="w-full h-56">
    <img
      class="object-cover w-full h-full"
      src="{{ products.thumbnail }}"
      alt="product image"
    />
  </div>

  <div class="p-2" >
    <h5>{{ products.title }}</h5>
    <p>{{ products.description }}</p>
  </div>

  <div class="flex flex-row align-middle">
    <button
      class="w-[6rem] m-2 py-2 bg-blue-900 rounded-md text-white hover:bg-blue-950 transition duration-300"
      [routerLink]="['/details', products.id]"
      (click)="passProductToDetails(products)"
    >
      Expand
    </button>

    <button
      mat-raised-button
      class="w-[12rem] m-2 py-4 hover:transition duration-300"
      (click)="openDialog(products)"
    >
      Short Description
    </button>
  </div>
</div>
